<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="student" class="com.sajor.study.c01.Student">
        <property name="id" value="101"></property>
        <property name="name" value="张三丰"></property>
    </bean>
    <bean id="school" class="com.sajor.study.c01.School">
        <property name="students" ref="student"/>
    </bean>

</beans>