<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 表示命名空间 -->
<mapper namespace="com.sajor.study.c06.mapper.ResumeMapper">
    <select id="findResumeByUserId" parameterType="Integer" resultType="com.sajor.study.c06.model.Resume">
        SELECT * from resume where userid = #{id}
    </select>

    <!--下面是新增内容:通过 jobid 查关联简历-->
    <select id="findResumeById" parameterType="Integer" resultType="com.sajor.study.c06.model.Resume">
        SELECT * from Resume where resumeid IN(
            SELECT resumeid FROM jobresume WHERE jobid = #{id}
        )
    </select>

</mapper>
